<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">


<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/' | relative_url }}">About</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/papers' | relative_url }}">Papers</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/teaching' | relative_url }}">Teaching</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/advising' | relative_url }}">Advising</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/blog' | relative_url }}">Blog</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/talks' | relative_url }}">Talks</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/calendar' | relative_url }}">Calendar</a>
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/books' | relative_url }}">Books</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2008 - {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
