html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.chart {
	font-family: Arial,sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar-education {
	fill: #33b5e5;
}

.bar-internship {
	fill: #CC0000;
}

.bar-assistantship {
	fill: #669900;
}

.bar-job {
	fill: #ffbb33;
}
